.main_Panel{
    -fx-background-color: #2F346E;
}

.button{
    -fx-background-color: #575B95;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button_close{
    -fx-background-color: #575B95;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button_1{
    -fx-background-color: #B5B9DD;
}

.button_2{
    -fx-background-color: #7C83C2;
}

.button_3{
    -fx-background-color: #515AAD;
}

.button_4{
    -fx-background-color: #49529d;
    -fx-text-fill: White;
}

.button_answer{
    -fx-background-color: #49529d;
    -fx-text-fill: White;
}


.button_answer:hover{
    -fx-background-color: #ff8c00;
    -fx-text-fill: White;
}

.button_lost{
    -fx-background-color: null;
    -fx-text-fill: White;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-border-width: 5;
}

.button_lost:hover{
    -fx-background-color: #383853;
}

.button_Top10{
    -fx-background-color: linear-gradient(to top right, #ec008c, #fc6767);
}

.button_TopAll{
    -fx-background-color: linear-gradient(to top right, #ffa500, #ffd600);
}

.rectangle{
    -fx-fill: #49529d;
}

.rectangle_2{
    -fx-fill: #7C83C2;
}

.rectangle_3{
    -fx-fill: #2F346E;
}

.rectangle_4{
    -fx-fill: #000000;
}

.rectangle_5{
    -fx-fill: linear-gradient(to top right, #02021c, #0b0b56);
    -fx-stroke: linear-gradient(to top right, #0b0b56, #02021c);
    -fx-stroke-width: 5;
}

.Text{
    -fx-background-color: orange;
}

.Text2{
    -fx-fill: #868686;
    -fx-text-fill: #868686;
}

.Text3{
    -fx-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.text-area {
    -fx-text-fill: rgb(0,0,0);
}

.text-field1{
    -fx-background-color: #575B95;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.text-field2{
    -fx-background-color: #575B95;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}